<!-- Google Meta -->
<link rel="author" href="https://plus.google.com/[Google+_Profile]/posts"/>
<link rel="publisher" href="https://plus.google.com/[Google+_Page_Profile]"/>
<meta itemprop="name" content="{{ siteName }}">
<meta itemprop="description" content="">
<meta itemprop="image" content="">

<!-- Facebook Meta -->
<meta property="og:title" content="{{ siteName }}" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="{{ siteName }}" />
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="" />

<!-- Twitter Meta -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="">
