@charset "UTF-8";
/* RTL stuff */
span.draft { margin-top: -4px; display: inline-block; border: 2px solid #bbb; border-radius: 4px; padding: 0 4px; height: 16px; vertical-align: middle; font-size: 11px; line-height: 16px; text-transform: uppercase; font-weight: bold; color: #29323d; }

h1 span.draft span { display: none; }

body.ltr #locales { padding: 0 0 0 24px; }
body.rtl #locales { padding: 0 24px 0 0; }

#locales li { position: relative; }
body.ltr #locales li { padding: 7px 45px 7px 0; }
body.rtl #locales li { padding: 7px 0 7px 45px; }

#locales li + li { border-top: 1px solid #e3e5e8; }

#locales li.sel { color: #8e98a4; cursor: default; }

#locales li.sel:before { font-size: 11px; color: #8e98a4 !important; font-family: 'Craft'; speak: none; -webkit-font-feature-settings: "liga", "dlig"; -moz-font-feature-settings: "liga=1, dlig=1"; -moz-font-feature-settings: "liga", "dlig"; -ms-font-feature-settings: "liga", "dlig"; -o-font-feature-settings: "liga", "dlig"; font-feature-settings: "liga", "dlig"; text-rendering: optimizeLegibility; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: subpixel-antialiased; display: inline-block; text-align: center; font-style: normal; vertical-align: middle; word-wrap: normal !important; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; content: 'check'; }
body.ltr #locales li.sel:before { float: left; }
body.rtl #locales li.sel:before { float: right; }
body.ltr #locales li.sel:before { margin: 3px 0 0 -16px; }
body.rtl #locales li.sel:before { margin: 3px -16px 0 0; }

#locales li a { color: #29323d; }

#locales li a:hover { color: #0d78f2; cursor: pointer; }

#locales li .lightswitch { position: absolute; top: 50%; margin-top: -9px; }
body.ltr #locales li .lightswitch { right: 9px; }
body.rtl #locales li .lightswitch { left: 9px; }

#locales li .status { display: block; position: absolute; top: 50%; margin: -5px 0 0; }
body.ltr #locales li .status { right: 16px; }
body.rtl #locales li .status { left: 16px; }

#settings .select, #settings .select select { width: 100%; }

#livepreview-btn { display: block; position: relative; }

#livepreview-spinner { position: absolute; top: 3px; }
body.ltr #livepreview-spinner { right: 7px; }
body.rtl #livepreview-spinner { left: 7px; }

#livepreview-editor, #livepreview-iframe-container { position: fixed; top: 0; height: 100%; background: #fff; background-clip: padding-box; }

#livepreview-iframe-container.dragging:after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ''; font-size: 0; }

#livepreview-editor { z-index: 3; padding: 0 24px; overflow: auto; -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#livepreview-editor header { margin: 0 -24px 24px; padding: 14px 24px 13px; }

body.ltr #livepreview-editor header .btn { float: right; }
body.rtl #livepreview-editor header .btn { float: left; }

#livepreview-editor header h1 { margin: 0; font-size: 25px; line-height: 30px; color: #333; }

#livepreview-editor > .field:last-child { margin-bottom: 24px !important; }

#livepreview-iframe-container { z-index: 2; }

#livepreview-iframe { width: 100%; height: 100%; }

#livepreview-draghandle { position: absolute; z-index: 3; top: 0; margin-left: -3px; width: 6px; height: 100%; cursor: move; }
